@import "tailwindcss";

.active {
  background-color: #16a34a;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  transition: all ease 0.2s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
}
